.main-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #141414;
  border-radius: 0.5rem;
  padding: 1.5rem;
  .main-info-wrapper-inner {
    display: flex;
    flex-direction: row;
  }
}
