.pricing-and-promotion-wrapper {
  margin-top: 1.5rem;
  width: 100%;
  background: #141414;
  border-radius: 0.5rem;
  padding: 1.5rem;
  .pricing-and-promotion-wrapper-inner {
    margin-top: 1rem;
    border-radius: 0.5rem;
  }
}
