.total-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  .total-price-wrapper-inner {
    .total-price-title {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      color: rgba(255, 255, 255, 0.85);
    }
    .total-price-title-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      .total-price-text {
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: rgba(255, 255, 255, 0.45);
      }
      .circle {
        margin: 0px 5px 0px 5px;
        border-radius: 0.1rem;
        width: 0.2rem;
        height: 0.2rem;
        background: rgba(255, 255, 255, 0.65);
      }
    }
  }
  .total-price-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    padding: 0.5rem;
    .total-price {
      margin-left: 4px;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.5rem;
      color: rgba(255, 255, 255, 0.85);
    }
  }
}
